/* INFO */
.info-box {
  background: #f3eaff;
  border: 1px solid #c4b5fd;
  border-radius: 10px;

  padding: 12px;
  width: 550px;
  margin: 0 auto 20px;
}

/* PANEL */
.config-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 20px;
  width: 550px;
  margin: 0 auto 20px;
}

/* FILAS */
.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

/* BOTONES TAMAÑO */
.tamanos button {
  padding: 5px 10px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.tamanos .activo {
  background: #6a0dad;
  color: white;
}

/* SELECT */
select {
  padding: 5px;
  border-radius: 6px;
}

/* SLIDER */
input[type="range"] {
  width: 150px;
}

/* BOTÓN GUARDAR */
.btn-guardar {
  width: 100%;
  margin-top: 15px;
  padding: 12px;

  background: #6a0dad;
  color: white;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
.acciones {
  width: 550px;
  margin: 20px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voz {
  color: #6a0dad;
}

.btn-regresar {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.alto-contraste {
  background: black;
  color: yellow;
}