/* TITULO */
.main h2 {
  margin-bottom: 25px;
}

/* INFO */
.info-box {
  background: #f3eaff;
  border: 1px solid #c4b5fd;
  border-radius: 10px;

  padding: 12px;
  width: 550px;
  margin: 0 auto 25px;

  text-align: left;
}

/* LISTA */
.lista-libros {
  width: 550px;
  margin: 0 auto;
}

/* ITEM LIBRO */
.libro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 15px;
  margin-bottom: 15px;

  cursor: pointer;
  transition: 0.2s;
}

.libro:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* ICONO */
.icono {
  font-size: 22px;
}

/* TEXTO */
.libro span {
  flex: 1;
  margin-left: 10px;
}

/* FLECHA */
.flecha {
  font-size: 22px;
  color: #555;
}

/* FOOTER */
.acciones {
  width: 550px;
  margin: 30px auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* VOZ */
.voz {
  color: #6a0dad;
}

/* BOTÓN */
.btn-regresar {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}